@{
    ViewData["Title"] = "Mis proyectos";
}


<div class="container my-5">
    <h2>@ViewData["Title"]</h2>
    <div class="row mt-3">

        <div class="col-md-4">
            <div class="card" style="background-color: #DFEBF6; border: none">
                <img src="/img/ApartadoAulas.jpg" alt="Proyecto 1" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title" style="text-align:justify; font-size:16px">Proyecto Apartado de Aulas con ASP.NET</h5>
                    <p class="card-text" style="text-align:justify; font-size:14px">
                        He desarrollado una aplicación web robusta y eficiente utilizando ASP.NET, centrada en optimizar la gestión de aulas en mi universidad. Esta aplicación proporciona una plataforma fácil de usar para la reserva y seguimiento de aulas, mejorando la eficiencia y organización en el entorno académico. Desde la implementación de funcionalidades de reserva hasta la integración de una interfaz intuitiva, mi enfoque en el desarrollo web se refleja en esta solución que facilita la experiencia de estudiantes y profesores al interactuar con los recursos físicos de la universidad.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color: #DFEBF6; border: none">
                <img src="/img/CalculadoraMovil2.jpg" alt="Proyecto 2" class="card-img-top"  />
                <div class="card-body">
                    <h5 class="card-title" style="text-align:justify; font-size:medium">Calculadora Móvil con Xamarin.Forms</h5>
                    <p class="card-text" style="text-align:justify; font-size:14px">
                        He desarrollado una intuitiva y funcional calculadora móvil utilizando Xamarin.Forms, demostrando mi experiencia en el desarrollo de aplicaciones multiplataforma. Esta aplicación combina una interfaz de usuario elegante con una lógica de cálculo precisa, brindando a los usuarios una herramienta fácil de usar para realizar operaciones matemáticas en sus dispositivos móviles. Desde el diseño de la interfaz hasta la implementación de las funciones, este proyecto refleja mi compromiso con la creación de aplicaciones móviles eficientes y atractivas.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card" style="background-color: #DFEBF6; border: none">
                <img src="/img/Videojuegos2D.jpg" alt="Proyecto 3" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title" style="text-align:justify; font-size:16px;">Videojuego de plataforma con Unity</h5>
                    <p class="card-text" style="text-align:justify; font-size:14px">
                        Como apasionado desarrollador de juegos, he creado un emocionante videojuego 2D utilizando Unity y programación en C#. Este proyecto representa mi habilidad para conceptualizar, diseñar y llevar a cabo experiencias interactivas envolventes. Desde la creación de gráficos hasta la implementación de mecánicas de juego, cada detalle ha sido cuidadosamente diseñado para brindar a los jugadores una experiencia única. Este juego no solo destaca mis habilidades técnicas, sino también mi creatividad y dedicación para ofrecer productos de alta calidad en el mundo del desarrollo de juegos.
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
