@model EmailDTO
@{
    ViewData["Title"] = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contáctame!</h2>
<div class="input group col-md-6">

    <p class="mt-4" style="text-align:justify;">
        Si deseas contactarme para futuros proyectos, ayudas o alguna otra cosa , escribe tu correo aqui abajo y yo me comunicaré contigo de inmediato.
    </p>
    @if (ViewBag.msg != null)
    {
        <div class="alert alert-success">@ViewBag.msg</div>
    }
    <form asp-action="SendEmail" asp-controller="Correo" method="post">
    <input type="text" asp-for="Para"  class="form-control" />
    <div class="input-group-btn">
        <button  class="btn btn-success mt-3" type="submit" >
            Enviar
        </button>
    </div>
    </form>
</div>

